<!DOCTYPE html>
<html lang="en">
    <!-- The load static is necessary to load images, css and JS -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>Pokedex</title>
</head>
<body>
    <h2>POKEDEX</h5> 
    <!-- Inserting the main image -->
    <img src="{% static 'img/pokedex.jpeg' %}" class="image" style="width:100px;">
    
    <div>
        <h3>Pokemon no existente, vuelve a <a href="{% url 'index' %}">HOME.</a> para iniciar otra busqueda</h3>
    </div>
</body>
</html>